html,
body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

nav.navbar {
  position: sticky;
  top: 0;
  border-radius: 0px 0px 15px 15px;
}
#portrait {
  border-radius: 10px;
}

section {
  scroll-margin-top: 4em;
}

.title,
.subtitle,
h1,
h2 {
  font-family: 'Gabarito', sans-serif;
}

.hero.is-small .hero-body {
  padding: 1.0rem;
}

.is-jforseth-blue {
  background-color: #0f2f4f;
}
.is-light-jforseth-blue {
    background-color: #2f6faf;
}

.is-jforseth-blue .navbar-item:hover,
.is-jforseth-blue .navbar-item:focus {
  background-color: #2f6faf;
}

.zoom {
  transition: transform 1s;
}

.zoom:hover {
  transform: scale(1.05);
}

.animated-card {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}